    
:global{
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}
.box{
  width: 100%;
  height: 100%;
  background: #000080;
}
.nav{
  width: 400px;
  height: 296px;
  background: aliceblue;
  position: absolute;
  top: 30%;
  left: 60%;
}
.navs{
  width: 90%;
  height: 90%;
  margin: 30px 40px;
  // text-align: center;
}