* {
  padding: 0px;
  margin: 0px;
  line-height: 0;
}


:global {
  .ant-layout-header {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
  }
  #root,#root>div,.ant-layout{
    width: 100%;
    height: 100%;
  }
  .ant-menu-item >a{
    line-height: 40px;
  }
  .content{
    width: 100%;
    height: 100%;
    padding:  10px 20px;
    box-sizing: border-box;
  }
  .el_conent{
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  .el_conent>p{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
  }
  .el_conent .ant-input-affix-wrapper{
    width: 530px;
  }
  .for-container{
    height: 300px !important;
  }
  .for-editor-content .for-container textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 8px 0;
    font-family: inherit;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    resize: none;
    border: none;
    outline: none;
    font-size: inherit;
    color: rgba(0, 0, 0, 0.65);
    background: none;
    line-height: inherit;
    font-size: 16px;
}
}
